.App {
  text-align: center;
}

.dataset h1 {
  cursor: pointer;
}

.dataset-stats,
.key-stats {
  padding: 0 1rem;
}

.dataset-toggle-stats {
  display: flex;
  margin: 0 0 0.5rem 0;
}

.dataset-toggle-stats p {
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0;
  padding: 0 1rem 0 0;
}

.dataset-toggle-stats p.active {
  font-weight: bold;
}

.dataset-keys,
.dataset-categories {
  border: 1px solid;
  padding: 1rem;
}